.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}


.mash-timer {
  margin: 0px;
  padding: 2em;
}

.seconds {
  font-size: 200%;
  font-weight: 200;
  line-height: 1.5;
  margin: 0px;
  color: #666;
}